.rating-container,
.react-star-rating__root {
  vertical-align: middle;
  display: inline-block;
}
.rating-container .rating-stars:before,
.rating-container:before {
  content: attr(data-content);
}
.react-star-rating__star {
  width: 25px;
}
.react-star-rating__star #star-flat {
  fill: var(--rfb-border-strong);
}
.react-star-rating__star #star-flat:hover {
  fill: var(--rfb-primary);
}
.react-star-rating__root {
  font-size: 2em;
}
.react-star-rating__root.rating-editing:hover {
  cursor: pointer;
}
.rating-container {
  position: relative;
  color: var(--rfb-border-strong);
  overflow: hidden;
}
.rating-container .rating-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--rfb-primary);
  transition: all 0.01s;
}
.react-rating-caption {
  font-size: 1.25em;
  vertical-align: middle;
  margin-right: 0.5em;
}
.rating-disabled .rating-container:hover {
  cursor: not-allowed;
}
.react-star-rating__size--sm {
  font-size: 1em;
}
.react-star-rating__size--md {
  font-size: 2em;
}
.react-star-rating__size--lg {
  font-size: 2.5em;
}
